ALTER TABLE issues ADD COLUMN system_number VARCHAR(20) NULL AFTER photo_path; ALTER TABLE issues ADD COLUMN hardware_photo_path VARCHAR(255) NULL AFTER system_number; ALTER TABLE issues ADD COLUMN days_pending INT DEFAULT 0 AFTER admin_notes; ALTER TABLE issues ADD COLUMN days_completed INT DEFAULT 0 AFTER days_pending;
