ALTER TABLE issues ADD COLUMN status VARCHAR(50) DEFAULT 'Pending' AFTER photo_path; ALTER TABLE issues ADD COLUMN admin_notes TEXT NULL AFTER status; ALTER TABLE issues ADD COLUMN updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP AFTER admin_notes;
